# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# for nuxt pwa
sw.*

_cruft

docs/.vitepress/cache